@using dotNetMVCLeagueApp.Data.Models.User
@using dotNetMVCLeagueApp.Config
@using dotNetMVCLeagueApp.Utils
@model dotNetMVCLeagueApp.Areas.Identity.Pages.Data.ProfileCardTableDto


@functions {

    private static string ClassActive(ProfileCardModel card) =>
        card.Position < ServerConstants.VisibleCardLimit ? "table-success" : "";

}

<div id="ProfileCardTable">
    <partial name="_StatusMessage" model="Model.StatusMessage"/>
    <table id="sortable" class="table table-hover table-responsive-lg table-striped mt-4">
        <thead class="thead-dark">
        <tr>
            <th class="font-weight-bold" scope="col">Position</th>
            <th class="font-weight-bold" scope="col">Title</th>
            <th class="font-weight-bold" scope="col">Type</th>
            <th class="font-weight-bold" scope="col">Desc. / Link</th>
            <th class="font-weight-bold" scope="col">Edit</th>
            <th class="font-weight-bold" scope="col">Move</th>
            <th class="font-weight-bold" scope="col">Delete</th>
        </tr>
        </thead>

        <tbody>
        @foreach (var card in Model.ProfileCards) {
            <tr class="@ClassActive(card)">
                <th scope="row">@(card.Position + 1)</th>
                <td class="font-weight-bold">
                    @StringUtils.TruncateIfNecessary(card.PrimaryText, Model.TextTableMaxCharacters)
                </td>
                @if (card.SocialMedia) {
                    <td>Social Media</td>
                    <td>
                        <a class="page-link" href="@card.SecondaryText">
                            @StringUtils.TruncateIfNecessary(card.SecondaryText, Model.TextTableMaxCharacters)
                        </a>
                    </td>
                }
                else {
                    <td>Text</td>
                    <td>@StringUtils.TruncateIfNecessary(card.SecondaryText, Model.TextTableMaxCharacters)</td>
                }
                <td>
                    <form method="get" asp-area="Identity" asp-page="/Account/EditCard">
                        <input type="hidden" class="form-control" name="cardId" value="@card.Id"/>
                        <button class="btn btn-sm btn-primary rounded-corners-small"><i class="fas fa-trash-alt"></i> Edit</button>
                    </form>
                </td>
                <td>
                    <div class="row d-flex justify-content-center">
                        <form method="post" asp-page-handler="MoveUp"
                              data-ajax-method="post"
                              data-ajax="true"
                              data-ajax-update="#ProfileCardTable">
                            <input type="hidden" class="form-control" name="cardId" value="@card.Id"/>
                            <button class="btn btn-sm btn-grey m-1 rounded-corners-small">
                                <i class="fas fa-chevron-up"></i>
                            </button>
                        </form>
                        <form method="post" asp-page-handler="MoveDown"
                              data-ajax-method="post"
                              data-ajax="true"
                              data-ajax-update="#ProfileCardTable">
                            <input type="hidden" class="form-control" name="cardId" value="@card.Id"/>
                            <button class="btn btn-sm m-1 btn-grey rounded-corners-small">
                                <i class="fas fa-chevron-down"></i>
                            </button>
                        </form>
                    </div>
                </td>
                <td>
                    <form method="post"
                          asp-page-handler="DeleteCard"
                          data-ajax-method="post"
                          data-ajax="true"
                          data-ajax-update="#ProfileCardTable"
                          data-ajax-confirm="Are you sure? This action is irreversible.">
                        <input type="hidden" class="form-control" name="cardId" value="@card.Id"/>
                        <button class="btn btn-sm btn-danger rounded-corners-small"><i class="fas fa-trash-alt"></i> Delete</button>
                    </form>
                </td>
            </tr>
        }
        </tbody>

    </table>

    <div>
        <a asp-area="Identity" asp-page="/Account/AddNewTextCard"
           class="btn btn-primary mt-4 rounded-corners-small float-right">
            Add New Text Card
        </a>
        <a asp-area="Identity" asp-page="/Account/AddNewSocialMediaCard"
           class="btn btn-primary mt-4 rounded-corners-small float-right">
            Add New Social Media Card
        </a>
    </div>


</div>