@page
@using dotNetMVCLeagueApp.Config
@using dotNetMVCLeagueApp.Utils
@using Newtonsoft.Json
@model dotNetMVCLeagueApp.Pages.Match

@{
    Layout = "Shared/_Layout";

    var profileQuery = new Dictionary<string, string> {
        {"name", Model.QueryParams.SummonerName},
        {"server", Model.QueryParams.Server}
    };

    var playerTeam = Model.MatchOverview.Players[Model.QueryParams.ParticipantId].TeamId == ServerConstants.BlueSideId ?
        Model.MatchOverview.Teams.BlueSide : Model.MatchOverview.Teams.RedSide;


    // String tridy pro vysledek - nastaveni barvy
    var matchResultClass = Model.MatchOverview.IsRemake ? "text-grey" :
        Model.MatchOverview.Win ? "color-win-light" : "color-loss-light";

    var matchResult = Model.MatchOverview.IsRemake ? "(Remake)" :
        Model.MatchOverview.Win ? "(Victory)" : "(Defeat)";

    var player = Model.MatchOverview.Players[Model.QueryParams.ParticipantId];
    var playerChampion = player.ChampionAsset;

}


@section Scripts {
    <script src="~/js/autohide.js" type="text/javascript"></script>

    @* mohli bychom data predat i nejakym zpusobem v jsonu, ale toto je pro pouziti snazsi. Tyto promenne
    bude mozne referencovat v MatchMain.js *@
    <script type="text/javascript">
        const BackgroundColors = [];
        
        @foreach (var backgroundColor in Model.ParticipantColors) {
            @:BackgroundColors.push("@backgroundColor");
        }
        
        const XpOverTimeChartId = "@ServerConstants.XpOverTimeChartId";
        const GoldOverTimeChartId = "@ServerConstants.GoldOverTimeChartId";
        const CsOverTimeChartId = "@ServerConstants.CsOverTimeChartId";
        const LevelOverTimeChartId = "@ServerConstants.LevelOverTimeChartId";
    </script>

    <script src="~/js/MatchMain.js" type="text/javascript"></script>

}

<div class="container">
    <a asp-page="Profile" asp-all-route-data="profileQuery"
       class="btn btn-grey rounded-corners-small float-right">
        Back to Profile
    </a>
    <div id="match-header mb-4">
        <h1 class="queue-type-text no-spacing">
            @Model.MatchOverview.QueueType <span class="@matchResultClass">@matchResult</span>
        </h1>

        <div class="row d-flex no-gutters">
            <div class="col-auto mr-4">
                <img alt="N/A"
                     data-toggle="tooltip" data-placement="top" title="@playerChampion.Name"
                     src="@Url.Content($"/assets/{playerChampion.RelativeAssetPath}")" class="champion-icon">
            </div>

            <div class="col-auto font-medium">
                <p class="no-spacing"> Game Length: @StringUtils.GetGameDuration(Model.MatchOverview.GameDuration)</p>
                <p class="no-spacing mt-n1">
                    <span> @player.Kills / </span>
                    <span class="deaths">@player.Deaths</span>
                    <span> / @player.Assists </span>
                    as <span class="font-weight-bold">@player.ChampionAsset.Name</span>
                </p>
            </div>
        </div>
    </div>


    @* <div class="invisible" id="NavigationPills"> *@
    <div class="d-flex justify-content-center mt-4">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                   aria-controls="pills-home" aria-selected="true">
                    Match Table
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                   aria-controls="pills-profile" aria-selected="false">
                    Graphs
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                   aria-controls="pills-contact" aria-selected="false">
                    Player Stats
                </a>
            </li>
        </ul>
    </div>


    <div class="tab-content pt-2 pl-1" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            @await Html.PartialAsync("Partials/Match/_TeamOverviewPartial", Model.MatchOverview.Teams)
            @await Html.PartialAsync("Partials/Match/_MatchPlayerTablePartial", Model.MatchOverview.Teams)
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            @await Html.PartialAsync("Partials/Match/_MatchTimelinePartial")

        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
            Content3
        </div>
    </div>

    <div class="mt-4">
    </div>


</div>