@model List<dotNetMVCLeagueApp.Data.Models.User.ProfileCardModel>

@if (Model.Count > 0) {
    <div class="row align-items-stretch mt-4 w-100">
        <div class="w-100">
            <h2 class="heading2">Profile Cards</h2>

            @foreach (var card in Model) {
                <div class="rounded-corners-small card-default-light mt-2">
                    <div class="card-body">
                        @if (card.SocialMedia) {
                            <a href="@card.SecondaryText" class="display-block text-truncate">
                                @card.SecondaryText
                            </a>
                            <h4 class="heading4 no-spacing mt-2 display-block text-truncate">@card.PrimaryText</h4>
                        }
                        else {
                            <h3 class="heading3 display-block text-truncate">@card.PrimaryText</h3>
                            <p class="">@card.SecondaryText</p>
                        }
                    </div>
                </div>
            }

        </div>
    </div>
}