@model dotNetMVCLeagueApp.Pages.Data.Profile.SummonerProfileDto

<div class="sticky">
    <div class="rounded-corners-small card-default-light mt-4 mb-2">
        <div class="row card-body no-gutters d-flex justify-content-center">
            <div class="col-4">
                <img class="summoner-icon-large"
                     alt="N/A" src="@Url.Content($"/assets/{Model.ProfileIconRelativeAssetPath}")">
            </div>
            <div class="col-8 align-items-center align-self-center">
                <p class="summoner-name-header no-spacing text-center">@Model.Name</p>
                <p class="no-spacing mt-n2 text-center">Level @Model.SummonerLevel</p>
            </div>
        </div>
    </div>

    <div>
        @if (Model.SoloQueue is not null) {
            await Html.RenderPartialAsync("Shared/Partials/Profile/_RankCardPartial", Model.SoloQueue);
        }
        @if (Model.FlexQueue is not null) {
            await Html.RenderPartialAsync("Shared/Partials/Profile/_RankCardPartial", Model.FlexQueue);
        }
    </div>

    <div class="mt-2">
        <form method="post"
              asp-route-name="@Model.Name"
              asp-route-server="@Model.Region"
              asp-page-handler="Refresh">
            <button
                class="btn rounded-corners-small btn-grey">
                <i class="fas fa-sync-alt"></i> Update
            </button>
        </form>
    </div>
</div>