@using dotNetMVCLeagueApp.Config
@model dotNetMVCLeagueApp.Pages.Data.MatchDetail.Overview.PlayerDto

@{
    var side = Model.TeamId == ServerConstants.BlueSideId ? "blue-side" : "red-side";

    var championBorderClass = $"champion-border-{side}";
}

<div class="row no-gutters mb-4 mb-md-2 mt-4 mt-md-2 d-flex">

    <div class="col-lg-3 col-md-4 col-12 d-flex align-items-center justify-content-center justify-content-md-start">
        <img alt="N/A" data-toggle="tooltip" data-placement="top" title="@Model.ChampionAsset.Name"
             src="@Url.Content($"/assets/{Model.ChampionAsset.RelativeAssetPath}")"
             class="champion-icon-match @championBorderClass"/>

        <div class="icons-match ml-1">
            <img alt="N/A"
                 data-toggle="tooltip" data-placement="top" title="@Model.SummonerSpell1.Name"
                 src="@Url.Content($"/assets/{Model.SummonerSpell1.RelativeAssetPath}")" class="summoner-icon-match">
            <img alt="N/A"
                 data-toggle="tooltip" data-placement="top" title="@Model.SummonerSpell2.Name"
                 src="@Url.Content($"/assets/{Model.SummonerSpell2.RelativeAssetPath}")" class="summoner-icon-match">
        </div>

        <div class="icons-match text-center">
            <img alt="N/A"
                 data-toggle="tooltip" data-placement="top" title="@Model.PrimaryRune.Name"
                 src="@Url.Content($"/assets/{Model.PrimaryRune.RelativeAssetPath}")" class="rune-primary-match">
            <img alt="N/A"
                 data-toggle="tooltip" data-placement="top" title="@Model.SecondaryRune.Name"
                 src="@Url.Content($"/assets/{Model.SecondaryRune.RelativeAssetPath}")" class="rune-secondary-match">
        </div>

        <p class="no-spacing ml-2 font-weight-bold text-overflow-ellipsis">@Model.SummonerName</p>
    </div>

    <div class="col-lg-1 col-md-4 col-12 align-items-center justify-content-center justify-content-sm-center">
        <div class="text-center">
            <p class="no-spacing ">
                <span>@Model.Kda.ToString("N1")</span> KDA
            </p>
            <div class="font-weight-bold">
                <span> @Model.Kills / </span>
                <span class="deaths">@Model.Deaths</span>
                <span> / @Model.Assists </span>
            </div>
            <p class="no-spacing">@Model.KillParticipation.ToString("N1")% KPA</p>
        </div>
    </div>

    <div class="col-lg-3 col-md-4 col-12 d-flex align-items-center justify-content-center">
        @foreach (var item in Model.Items) {
            <img alt="N/A" class="item-icon-match" data-toggle="tooltip" data-placement="top"
                 title="@item.Name" src="@Url.Content($"/assets/{item.RelativeAssetPath}")">
        }

    </div>

    <div class="col-lg-1 col-md-4 col-12 d-flex mt-lg-0 mt-2 align-items-center justify-content-center">
        <div class="text-center">
            <p class="no-spacing font-weight-bold">
                @Model.Cs.ToString("N0") CS
            </p>
            <p class="no-spacing">
                @Model.CsPerMinute.ToString("N1") CS/min
            </p>
        </div>
    </div>

    <div class="col-lg-2 col-md-4 col-12 d-flex mt-lg-0 mt-2 align-items-center justify-content-center">
        <div class="text-center">
            <p class=" no-spacing font-weight-bold">
                @Model.Gold.ToString("N0") Gold
            </p>
            <p class="no-spacing">
                (@(Model.GoldPercentage.ToString("N1") + "%") Team)
            </p>
        </div>
    </div>

    <div class="col-lg-2 col-md-4 col-12 d-flex mt-lg-0 mt-2 align-items-center justify-content-center">
        <div class="text-center">
            <p class="no-spacing font-weight-bold">@Model.DamageDealt.ToString("N0") DMG</p>
            <p class="no-spacing">@(Model.DamagePercentage.ToString("N0") + "%") MAX</p>
        </div>
    </div>

    @if (Model.ParticipantId != 10 && Model.ParticipantId != 5) {
        <div class="col-12 d-lg-none d-xl-none">
            <hr class="hr-match">
        </div>  
    }
    

</div>