@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="text-center">
    <h4 class>Match Info for Summoner: @ViewBag.SummonerInfo.Name, server: @ViewBag.SummonerInfo.Region</h4>

    @if (ViewBag.MatchHeaders is null || ViewBag.MatchHeaders.Capacity == 0) {
        <h1>There are no matches available, try refreshing</h1>
        <a href="/TestCore/RefreshMatchList?name=@ViewBag.SummonerInfo.Name&server=@ViewBag.SummonerInfo.Region"
           class="btn btn-primary float-right mt-lg-2">
            Refresh
        </a>
        return;
    }
</div>

<div class="container-fluid">

    <div id="listStats" class="card mb-lg-5">
        <div class="card-body">
            <h5 class="card-title">Overall</h5>
            <p>Games Won: @ViewBag.GameListStats.GamesWon Games Lost: @ViewBag.GameListStats.GamesLost</p>
            <p>Average KDA: @ViewBag.GameListStats.AverageKda</p>
            <p>Average Kills: @ViewBag.GameListStats.AverageKills</p>
            <p>Average Assists: @ViewBag.GameListStats.AverageAssists</p>
            <p>Average Deaths: @ViewBag.GameListStats.AverageDeaths</p>
            <p>Most Played role: @ViewBag.GameListStats.MostPlayedRole</p>
            <p>Average Gold diff @@ 10: @ViewBag.GameListStats.AverageGoldDiffAt10</p>
            <p>Average Cs Per Minute: @ViewBag.GameListStats.AverageCsPerMinute</p>
        </div>
    </div>
    <div class="container-fluid">
        <a href="/TestCore/RefreshMatchList?name=@ViewBag.SummonerInfo.Name&server=@ViewBag.SummonerInfo.Region"
           class="btn btn-primary float-right mt-lg-2">
            Refresh
        </a>
    </div>


    <div class="container-fluid">
        <h5>Matches: </h5>
        @foreach (var matchHeader in ViewBag.MatchHeaders) {
            <div class="card  mt-lg-2">
                <div class="card-body">
                    <h5 class="card-title">QueueType: @matchHeader.QueueType</h5>
                    <p>Victory: @matchHeader.Win</p>
                    <p>Role: @matchHeader.Role</p>
                    <p>Kills: @matchHeader.Kills Deaths: @matchHeader.Deaths Assists: @matchHeader.Assists</p>
                    <p>KDA: @matchHeader.Kda</p>
                    <p>Kill Participation: @matchHeader.KillParticipation</p>
                    <p>Largest Multikill: @matchHeader.LargestMultiKill</p>
                    <p>Date played: @matchHeader.PlayTime</p>
                    <p>CSPM: @matchHeader.CsPerMinute</p>
                    <p>Total CS: @matchHeader.TotalCs</p>
                    <p>Vision score: @matchHeader.VisionScore</p>
                </div>
            </div>
        }
    </div>


</div>